.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 7em;
  line-height: 0.65em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: 600;
}

.body {
  background-color: #00001a;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  line-height: 22px;
}

.section {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.no-scroll {
  position: relative;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg-div {
  position: absolute;
  left: 30%;
  bottom: -25%;
  width: 80%;
  min-width: 80%;
}

.bg-gradient {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-image: linear-gradient(135deg, rgba(0, 0, 26, 0) 50%, rgba(0, 41, 175, 0.5));
}

._3d {
  position: absolute;
}

.graphic-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-lottie {
  position: relative;
  bottom: 200px;
  width: 70%;
}

.blockchain-lottie {
  position: relative;
  z-index: -2;
  margin-right: 2%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.div {
  position: relative;
}

.div.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div.margin-50 {
  z-index: 5;
  margin-right: 100px;
  margin-left: 100px;
}

.form-block {
  width: 33%;
  margin-top: 50px;
}

.text-field {
  height: 50px;
  margin-bottom: 0px;
  border-style: none;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.button {
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: #0029af;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #003cff;
}

.input-grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.success-message {
  border-radius: 10px;
  background-color: #0029af;
}

.error-message {
  border-radius: 10px;
  background-color: #d3243f;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid-2 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.small {
  color: hsla(0, 0%, 100%, 0.25);
  font-size: 0.55em;
}

.heading {
  line-height: 0.75em;
}

.static-height {
  height: 40px;
  padding-left: 5px;
}

@media screen and (max-width: 991px) {
  .section.no-scroll {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .bg-div {
    left: 15%;
    bottom: -15%;
    width: 125%;
    min-width: 125%;
  }

  .logo-lottie {
    bottom: 250px;
    width: 45%;
    margin-bottom: -70%;
  }

  .div.margin-50 {
    margin-right: 50px;
    margin-left: 50px;
  }

  .form-block {
    width: 60%;
  }

  .utility-page-content {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 1.5em;
  }

  .section {
    height: auto;
  }

  .section.no-scroll {
    height: 100vh;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .bg-div {
    left: -30%;
    bottom: -20%;
    width: 200%;
    min-width: 200%;
  }

  .logo-lottie {
    bottom: 250px;
    width: 40%;
    margin-bottom: -80%;
  }

  .div.margin-50 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .form-block {
    width: 70%;
  }

  .utility-page-content {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .section.no-scroll {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .bg-div {
    left: -30%;
    bottom: -10%;
    width: 200%;
    min-width: 200%;
  }

  .bg-gradient {
    z-index: -1;
  }

  .logo-lottie {
    bottom: 250px;
    width: 50%;
  }

  .form-block {
    width: 100%;
  }
}

